@import "../../app/_mixins.scss";

.player {
  height: 100%;
  border: var(--border-wide);
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  color: var(--secondary-color);
  overflow-x: hidden;
  max-width: 40vw;

  &.active {
    border-color: var(--alert-color);
    background-color: var(--secondary-color);
    color: var(--font-color);
  }

  &.actionable {
    cursor: pointer;
  }

  .statusRow {
    font-size: 2rem;
    font-weight: bold;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;

    @include desktop() {
      flex-direction: row;
      justify-content: space-between;
    }

    span {
      display: flex;
      justify-content: space-between;
      align-items: bottom;
      gap: 0.2rem;
      white-space: nowrap;

      &.big {
        display: inline-block;
        width: 100%;
        font-size: 3rem;
        max-width: 40vw;
        overflow-x: hidden;

        & svg {
          font-size: 2rem;
        }
      }
    }
  }
}

.scoreCard {
  flex-grow: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  font-size: clamp(5rem, -6.25rem + 50vw, 20rem);
  font-weight: bold;
  border-radius: var(--border-radius);
  border: var(--font-color) 0.25rem solid;
  position: relative;

  .overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50%;
    cursor: pointer;
  }

  .overlayTop {
    @extend .overlay;
    top: 0;
    left: 0;
    border-bottom: var(--font-color) thin solid;
  }

  .overlayBottom {
    @extend .overlay;
    bottom: 0;
    right: 0;
    border-top: var(--font-color) thin solid;
  }
}
