@import "../../app/_variables.scss";

.player {
  height: 100%;
  border: $border-thick;
  border-radius: 1rem;
  background-color: map-get($colors, main);
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  flex-grow: 4;
  color: $hilite;
  overflow-x: hidden;

  &.active {
    border: map-get($colors, nok) solid thick;
    background-color: $hilite;
    color: map-get($colors, font);
  }

  &.actionable {
    cursor: pointer;
  }

  .statusRow {
    font-size: 1.2rem;
    font-weight: bold;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      display: flex;
      justify-content: space-between;
      align-items: bottom;
      gap: 0.2rem;

      &.big {
        font-size: 2rem;
      }
    }
  }
}

.scoreCard {
  flex-grow: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  color: map-get($colors, font);
  font-size: clamp(5rem, 0.7143rem + 19.0476vw, 15rem);
  font-weight: bold;
  border-radius: 1rem;
  border: map-get($colors, font) thin solid;
  position: relative;

  .overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50%;
  }

  .overlayTop {
    @extend .overlay;
    top: 0;
    left: 0;
    border-bottom: map-get($colors, font) thin solid;
  }

  .overlayBottom {
    @extend .overlay;
    bottom: 0;
    right: 0;
    border-top: map-get($colors, font) thin solid;
  }
}
