@import "./_variables.scss";

@mixin spread-map($map: ()) {
  @each $key, $value in $map {
    #{$key}: $value;
  }
}

$theme-light: $theme;

$theme-dark: map-merge(
  $theme,
  (
    --background-color: black,
    --shotclock-color: white,
    --border-radius: 0,
  )
);
