@import "./_variables.scss";

@mixin spread-map($map: ()) {
  @each $key, $value in $map {
    #{$key}: $value;
  }
}

$theme-light: $theme;

$theme-dark: map-merge(
  $theme,
  (
    --primary-color: black,
    --secondary-color: gray,
    --background-color: black,
    --shotclock-color: white,
    --border-radius: 0,
    --border-thick-secondary: gray solid thick,
    --border-wide: black solid 0.5rem,
    --alert-color: gray,
  )
);

$theme-water: map-merge(
  $theme,
  (
    --background-color: #07485b,
    --primary-color: #0d6986,
    --secondary-color: #8ec7d2,
    --border-thick: #0d6986 solid thick,
    --border-thick-secondary: #8ec7d2 solid thick,
    --border-wide: #0d6986 solid 1rem,
    --shotclock-color: #8ec7d2,
    --ok-color: #dba507,
    --slider-start-color: #dba507,
    --slider-end-color: #db073d,
    --alert-color: #dba507,
  )
);

$theme-green: map-merge(
  $theme,
  (
    --background-color: #001f11,
    --primary-color: #204709,
    --secondary-color: #0c8558,
    --border-thick: #204709 solid thick,
    --border-thick-secondary: #0c8558 solid thick,
    --border-wide: #204709 solid 1rem,
    --shotclock-color: #0c8558,
    --ok-color: #b58600,
    --slider-start-color: #b58600,
    --slider-end-color: #ff4533,
    --alert-color: #b81000,
  )
);
