$white: white;
$yellow: yellow;
$red: red;

$colors: (
  bg: $white,
  font: black,
  main: gray,
  ok: green,
  nok: $red,
);

$border-thick: map-get($colors, main) solid thick;
$hilite: lighten(map-get($colors, main), 40);
$border-thick-hilite: $hilite solid thick;

@mixin desktop() {
  @media (min-width: 40rem) {
    @content;
  }
}
