@import "./_themes.scss";
@import "./_mixins.scss";

:root {
  @include spread-map($theme-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    @include spread-map($theme-dark);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
}

.hide {
  visibility: hidden;
}

button {
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:active {
    filter: brightness(120%);
    transform: scale(1.1);
  }
}
