@import "./_mixins.scss";

:root {
  font-size: clamp(0.5rem, 1.25vw, 3rem);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.hide {
  visibility: hidden;
}

button {
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius-tight);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 0 0.5rem;
  aspect-ratio: 1;

  &:disabled {
    filter: brightness(80%);
    cursor: not-allowed;
  }

  &:active {
    filter: brightness(120%);
    transform: scale(1.1);
  }
}
