@import "./_themes.scss";

.themeContainer {
  @include spread-map($theme-light);

  width: 100vw;
  min-height: 100vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: var(--gap);
  padding: var(--gap);
  outline: 0;

  &.nightshift {
    @include spread-map($theme-dark);
  }

  &.water {
    @include spread-map($theme-water);
  }

  &.green {
    @include spread-map($theme-green);
  }

  .buttonContainer {
    display: flex;
    gap: var(--gap);
  }
}
