@import "../../app/_mixins.scss";

:export {
  sliderStart: var(--slider-start-color);
  sliderEnd: var(--slider-end-color);
}

.roundedArea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: var(--border-radius-round);
  aspect-ratio: 1;
  background-color: var(--background-color);
}

.shotclockContainer {
  flex-grow: 1;
  border: var(--border-thick);
  border-radius: var(--border-radius);
  display: flex;
  min-height: 3rem;

  @include desktop() {
    min-height: 5rem;
  }

  .centerSelf {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--shotclock-color);
    font-size: 1.5rem;
    font-weight: bold;

    @include desktop() {
      font-size: 3rem;
    }

    &.slider {
      background-repeat: no-repeat;
      background-position: right;
      transition: background-size linear 1s;

      & div {
        @extend .roundedArea;
      }
    }

    &.overtime {
      background-color: var(--slider-end-color);
      border-radius: var(--border-radius-tight);
      & div {
        @extend .roundedArea;
      }
    }

    &.gameOver {
      background-color: var(--primary-color);
      color: var(--secondary-color);

      & span {
        transform: rotate(30deg);
      }
    }
  }
}
