@import "../../app/_variables.scss";

:export {
  sliderStart: map-get($theme, slider-start-color);
  sliderEnd: map-get($theme, slider-end-color);
}

.roundedArea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: map-get($theme, border-radius-round);
  aspect-ratio: 1;
  background-color: map-get($theme, background-color);
}

.shotclockContainer {
  flex-grow: 1;
  border: map-get($theme, border-thick);
  border-radius: map-get($theme, border-radius);
  display: flex;
  min-height: 5rem;

  .centerSelf {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: map-get($theme, shotclock-color);
    font-size: 3rem;
    font-weight: bold;

    &.slider {
      background-repeat: no-repeat;
      background-position: right;
      transition: background-size linear 1s;

      & div {
        @extend .roundedArea;
      }
    }

    &.overtime {
      background-color: map-get($theme, slider-end-color);
      border-radius: map-get($theme, border-radius-tight);
      & div {
        @extend .roundedArea;
      }
    }

    &.gameOver {
      background-color: map-get($theme, primary-color);
      color: map-get($theme, secondary-color);

      & span {
        transform: rotate(30deg);
      }
    }
  }
}
