@import "../../app/_variables.scss";

:export {
  sliderStart: map-get($colors, ok);
  sliderEnd: map-get($colors, nok);
}

.roundedArea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: map-get($colors, bg);
}

.shotclockContainer {
  flex-grow: 1;
  border: $border-thick;
  border-radius: 0.5rem;
  display: flex;
  min-height: 5rem;

  .centerSelf {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: map-get($colors, font);
    font-size: 3rem;
    font-weight: bold;

    &.slider {
      background-repeat: no-repeat;
      background-position: right;
      transition: background-size linear 1s;

      & div {
        @extend .roundedArea;
      }
    }

    &.overtime {
      background-color: map-get($colors, nok);
      & div {
        @extend .roundedArea;
      }
    }

    &.gameOver {
      background-color: map-get($colors, main);
      color: $hilite;

      & span {
        transform: rotate(30deg);
      }
    }
  }
}
