@import "../../app/_variables.scss";

.navbar {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;

  button {
    height: 100%;
    color: map-get($colors, main);
    background-color: map-get($colors, bg);
    border: $border-thick;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
