@import "../../app/_variables.scss";

.navbar {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.bordered-box {
  height: 100%;
  color: map-get($colors, main);
  border: $border-thick;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

.menu {
  @extend .bordered-box;
  aspect-ratio: 1;
  justify-content: center;
  cursor: pointer;
}

.timebox {
  @extend .bordered-box;
  gap: 0.5rem;
  padding: 0 1rem;
  font-weight: bold;
}
