.navbar {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.menu {
  color: gray;
  height: 100%;
  border: gray solid thick;
  border-radius: 0.5rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.timebox {
  height: 100%;
  border: gray solid thick;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
  font-weight: bold;
  color: gray;
}

.hide {
  visibility: hidden;
}
