.navbar {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--border-thick);
  border-radius: var(--border-radius);
  padding: 0 0.5rem;

  button {
    color: var(--primary-color);
    background-color: var(--background-color);
    border: var(--border-thick);
    border-radius: var(--border-radius-tight);
    font-size: 2rem;
    padding: 0 0.5rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
