.dialog {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 100vh;
  width: 100vw;
  font-size: 2rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  overflow-x: hidden;

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    background: center / contain no-repeat url("/carom.svg");
    text-shadow: 0px 0px 6px black;
  }

  input {
    max-width: 90vw;
    font-size: 2rem;
    border: var(--border-thick-secondary);
    border-radius: var(--border-radius);
    padding: 0.5rem;

    &:disabled {
      cursor: not-allowed;
    }
  }

  button {
    font-size: 2rem;
    border-radius: var(--border-radius);
    padding: 1rem;
    margin-top: 1rem;
    border: none;
    background-color: var(--secondary-color);
    display: flex;
  }

  .settings {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 80vw;

    input {
      flex-grow: 1;
    }

    span {
      min-width: 2rem;
      text-align: right;
    }
  }
}
