@import "../../app/_variables.scss";

.status {
  height: 100%;
  border: $border-thick;
  border-radius: 1rem;
  background-color: map-get($colors, main);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  flex-grow: 3;
  font-weight: bold;
  justify-content: center;
  align-items: center;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    color: $hilite;
    border: $border-thick-hilite;
    border-radius: 1rem;
    font-size: calc(25vw / 3);
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    color: $hilite;
    border: $border-thick-hilite;
    border-radius: 1rem;
    font-size: 2rem;
    background-color: map-get($colors, ok);
    cursor: pointer;
    padding: 2rem 0;

    &:disabled {
      background-color: map-get($colors, main);
      cursor: default;
    }

    &:active {
      filter: brightness(120%);
      transform: scale(1.1);
    }
  }
}

.middle {
  order: 3;
}
