@import "../../app/_mixins.scss";

.bordered-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  color: var(--secondary-color);
  border: var(--border-thick-secondary);
  border-radius: var(--border-radius);
  padding: 0.5rem;
}

.status {
  border: var(--border-thick);
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  padding: var(--gap) 0;

  flex-grow: 3;
  font-weight: bold;

  &.middle {
    order: 3;
  }

  & > div {
    @extend .bordered-box;

    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      @include desktop() {
        font-size: 2rem;
      }

      div {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }

    &:nth-child(2) {
      flex-grow: 1;
      max-height: 40%;
      font-size: clamp(6rem, 15vw, 10rem);
      background-color: var(--secondary-color);
      color: var(--font-color);
    }
  }

  button {
    @extend .bordered-box;
    padding: 1rem 0;
    background-color: var(--ok-color);

    @include tablet() {
      font-size: 2rem;
    }

    @include desktop() {
      padding: 2rem 0;
    }

    &:disabled {
      background-color: var(--primary-color);
    }
  }
}
