@import "../../app/_variables.scss";

.bordered-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  color: map-get($theme, secondary-color);
  border: map-get($theme, border-thick-secondary);
  border-radius: map-get($theme, border-radius);
  padding: 0.5rem;
}

.status {
  height: 100%;
  border: map-get($theme, border-thick);
  border-radius: map-get($theme, border-radius);
  background-color: map-get($theme, primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  flex-grow: 3;
  font-weight: bold;

  &.middle {
    order: 3;
  }

  & > div {
    @extend .bordered-box;

    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      font-size: 1.2rem;

      div {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }

    &:nth-child(2) {
      flex-grow: 1;
      font-size: clamp(5rem, 0.7143rem + 19.0476vw, 15rem);
      background-color: map-get($theme, secondary-color);
      color: map-get($theme, font-color);
    }
  }

  button {
    @extend .bordered-box;
    font-size: 2rem;
    padding: 2rem 0;
    background-color: map-get($theme, ok-color);

    &:disabled {
      background-color: map-get($theme, primary-color);
    }
  }
}
